
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/overlayout.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous">
 
    @Scripts.Render("~/bundles/modernizr")
</head> 
<body>
    @*<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            @Html.ActionLink("Rạp Phim Mini", "Index", "Home", null, new { @class = "my-0 mr-md-auto font-weight-normal" })
            <nav class="my-2 my-md-0 mr-md-3">
                @{
                    if (Session["id_member"] == null)
                    {
                        @Html.ActionLink("Đăng Nhập", "Login", "Home", null, new { @class = "btn btn-outline-primary" })
                        @Html.ActionLink("Đăng Ký", "Register", "Home", null, new { @class = "btn btn-outline-primary" })
                    }
                    else
                    {
                        <a class="p-2 text-dark" href="@Url.Action("History")">Lịch Sử</a>
                        <a class="p-2 text-dark">Xin Chào @Session["name_member"]</a>
                        <a class="p-2 text-dark" href="@Url.Action("Logout")">Đăng Xuất</a>
                    }
                }

            </nav>
        </div>*@

    <div class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            @Html.ActionLink("Quản Lý Rạp Phim Mini", "Index", "Home", null, new { @class = "nav-link" })

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Về Chúng Tôi", "About", "Home", null, new { @class = "btn btn-outline-primary" })
                    </li>
                    @{
                        if (Session["id_member"] == null)
                        {

                            <li class="nav-item">
                                @Html.ActionLink("Đăng Nhập", "Login", "Home", null, new { @class = "btn btn-outline-primary mr-3" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Đăng Ký", "Register", "Home", null, new { @class = "btn btn-outline-primary mr-3" })
                            </li>

                        }
                        else
                        {
                            <a class="p-2 text-info" href="@Url.Action("History")">Lịch Sử</a>
                            <div class="d-inline-block">
                                <p class="p-2 text-info">
                                    Xin Chào @Session["name_member"]
                                    <br />
                                    <span class="fa fa-money-bill"></span>
                                    @Session["money"]
                                </p>
                            </div>

                            <a class="p-2 text-info" href="@Url.Action("Logout")">Đăng Xuất</a>
                        }
                    }
                </ul>
            </div>

        </div>
    </div>
    <br />
    <br />

    @RenderBody()
    <hr />
    @{ Html.RenderPartial("_Footer");}    
   
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</html>
